<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" /> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.GardenGuard"
        tools:targetApi="31">
        <activity
            android:name=".ui.disease.DiseaseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.disease.DiseaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.UploadImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" /> <!-- Meta-data untuk file_paths.xml -->
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
        <activity
            android:name=".ui.diagnose.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.diagnose.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signin.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- FileProvider untuk mengelola akses file -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>